@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
  font-family: Roboto, sans-serif;
  /* display: flex;
  flex-direction: column; */
  background: white;
  color: black;
  box-sizing: border-box;
}

header {
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a, p {
    color: #e5e7eb;
    text-decoration: none;
}

.hero {
    padding: 80px;
    background: #1f2937;
    color: #f9faf8;
    display: flex;
    gap: 30px;
}

.hero div {
    flex: 1;
}

.pic-content {
    display:  flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border: 1px solid lightblue;
    text-align: center;
    min-height: 200px;
    font-size: .9em;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero p {
    margin: 0 0 10px 0;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 8px 30px;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    border: none;
}

.info {
    padding: 0 80px;
    margin-bottom: 40px;
}

.info h3 {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.info-content {
    padding: 0 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 16px;
    margin: 20px;
    color: #1f2937;
}

.info-pic {
    aspect-ratio: 1 / 1;
    border: 2px solid #3882f6;
    border-radius: 8px;
    margin: 8px;
}

.quote {
    padding: 80px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: right;
    margin-top: 20px;
}